.image  {
  width: 100%;
}

h5 {
  color: #391f2a;
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
  font-size: 150%;
  line-height: 120%;
  margin: 2% 0%;
  text-align: center;
}

@media screen and (min-width: 768px) {
  h5 {
    font-size: 190%;
  }
}
