/* * {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  background-color: #FFFFFF;
}

h1 {
  font-size: 1.8rem;
  font-family: sans-serif;
}

h2 {
  font-size: 1.5rem;
  line-height: 5rem;
  margin-top: .5rem;
  color: #391f2a;
  font-family: sans-serif;
}

h3 {
  font-size: 1.25rem;
  line-height: 1.3rem;
  margin-top: .5rem;
  color: #391f2a;
  font-family: sans-serif;
}

h4 {
  font-size: 1.3rem;
  line-height: 1.3rem;
  margin-top: 5%;
  color: #391f2a;
  font-family: sans-serif;
}

p {
  font-size: 1.2rem;
  line-height: 1.3rem;
  margin-top: .5rem;
  color: #391f2a;
  font-family: sans-serif;
}

.container {
  margin: 0 auto;
  width: 100%;
  overflow: hidden;
  background-image: url("images/hero.png");
  background-position: center;
  background-size: cover;
}

nav {
  /*background-color: #caadb4;*/
  /* margin-top: 2rem;
  padding: 1rem 2rem;
  width: 23%;
}

h3.intro {
  margin: 0 auto;
  padding: 6% 9% 3% 9%;
  line-height: 1.6rem;
}

.portfolio {
  background-color: #fff;
  color: #e0ccce;
  padding: 2% 6%;
}

section {
  /*background-color: #e0ccce;*/
  /*padding: 2rem 1rem 2rem 1rem;
}

header {
  width: 100%;
  margin: 0;
}

nav.kg-logo {
  float: left;
  width: 9%;
  padding: 1% 1% 1% 1%;
  margin: 1% 0 1% 7%;
}

nav.hero {
  float: left;
  width: 16%;
  padding: 0 1%;
  margin: 2.75% 0;
}

nav {
  float: right;
  margin: 1%;
  width: 14%;
  padding: 1% 1% 1% 1%;
}

ul {
  color: #391f2a;
  font-family: sans-serif;
}

nav.projects {
  margin: 1% 5% 1% 1%;
}

nav.resume, .about{
  margin: 1% 1% 1% 1%;
}

section.digs {
  background-color: #e0ccce;
}

section.project-2, .project-3 {
  background-color: #e0ccce;
  margin: 20% 0;
}

ul.role {
  clear: left;
  overflow: auto;
  width: 45%;
  margin: 5%;
}

ul.tools {
  clear: right;
  overflow: auto;
  width: 45%;
  margin: 5%;
}

img.digs-home-page {
  width: 100%;
}

img.purple {
  width: 100%;
}

@media screen and (max-width: 450px) {
  nav.kg-logo {
    float: left;
    width: 11%;
    padding: 1% 1% 1% 1%;
    margin: 1% 0 1% 9%;
  }

  nav.hero {
    float: left;
    width: 19%;
    padding: 0 1%;
    margin: 2.75% 0;
  }

  nav {
    float: right;
    margin: 1%;
    width: 17%;
    padding: 1% 1% 1% 1%;
  }

  nav.projects {
    margin: 1% 5% 1% 1%;
  }

  nav.resume, .about{
    margin: 1% 1% 1% 1%;
  }
}


@media screen and (min-width: 768px) {
  .container {
    background-color: #E0CCCE;
    margin: 0 auto;
    width: 100%;
  }

  nav {
    float: right;
    margin: 1%;
    width: 11%;
    padding: 1% 2% 1% 2%;
  }

  nav.kg-logo {
    float: left;
    width: 6%;
    padding: 1% 1% 1% 1%;
    margin: 1% 0 1% 9%;
  }

  nav.hero {
    float: left;
    width: 8%;
    padding: 0%;
    margin: 2.25% 0;
  }

  nav.projects {
    margin: 1% 9% 1% 0%;
  }

  nav.resume, .about {
    margin: 1% 2% 1% 1%;
  }


  h3 {
    font-size: 1.4rem;
  }
}


@media screen and (min-width: 1025px) {
  .container {
    background-color: #E0CCCE;
    margin: 0 auto;
    width: 100%;
  }

  nav {
    float: right;
    margin: 1%;
    width: 8%;
    padding: 1% 1% 1% 1%;
  }

  nav.kg-logo {
    float: left;
    width: 5%;
    padding: 1% 1% 1% 1%;
    margin: 1% 0 1% 9%;
  }

  nav.hero {
    float: left;
    width: 8%;
    padding: 0%;
    margin: 2.25% 0;
  }

  nav.projects{
    margin: 1% 9% 1% 0%;
  }

  nav.resume, .about{
    margin: 1% 2% 1% 1%;
  }


  .intro {
    width: 90%;
  }

  .portfolio {
    width: 90%;
    margin: 0 auto;
  }

  h3 {
    font-size: 1.6rem;
  }
} */
