* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  background-color: #FFFFFF;
}


/*.portfolio {
  background-color: #fff;
  color: #e0ccce;
}*/


button {
  background-color: #976774;
  border: none;
  border-radius: .05rem;
  box-shadow: 1px 1px 1px 1px #caadb4;
  color: #e0ccce;
  font-family: "Futura PT", sans-serif;
  font-size: 1.3rem;
  font-weight: 100;
  margin: 1% 0;
}

li.list-1 {
  float: left;
  width: 51%;
}

li.list-2 {
  width: 60%;
}

ul.sub-title {
  color: #391f2a;
  font-family: "Quicksand",sans-serif;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 1.3rem;
  margin: 1rem 0;
}

img.digs-home-page, .desk-pref, .purple, .final, .flow, .guide, .hifi-proto, .wireframe {
  border-radius: .25rem;
  width: 100%;
}

img.hi-fi-1 {
  border-radius: .205rem;
  width: 60%;
}

img.hi-fi-2 {
  border-radius: .205rem;
  margin: 2%;
  width: 30%;
}

img.board, .proto {
  border-radius: .205rem;
  margin: 1%;
  width: 47%;
}

img.brain, .competitor, .logo, .personas {
  border-radius: .205rem;
  margin: 1%;
  width: 30%;
}

img.pref {
  border-radius: .205rem;
  margin: 1%;
  width: 17%;
}
