* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  background-color: #FFFFFF;
}

/*.container {
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: 1fr 10fr 1fr;
  grid-auto-rows: minmax(5rem, auto);
  grid-template-areas:
  "header    header     header"
  "intro     intro      intro"
  ".         digs-home  ."
  ".         project-2  ."
  ".         project-3  ."
  "foot      foot       foot";
}

/* Layout */

nav {
  background-color: #20435D;
  margin: auto;
  max-width: 1200px;
}

section {
  background-color: #C0D5C9;
  border-radius: .25rem;
  margin: 5% auto;
  max-width: 1200px;
  padding: 5%;
  position: relative;
}

/*button {
  background-color: #E57A5B;
  border: none;
  border-radius: .25rem;
  box-shadow: .1rem .1rem .1rem .1rem #7C3840;
  color: #20435D;
  font-family: "Futura PT", sans-serif;
  font-size: 150%;
  font-weight: 200;
  margin: 2% 0;
}*/

.view-button {
  background-color: #E57A5B;
  border: none;
  border-radius: .25rem;
  box-shadow: .1rem .1rem .1rem .1rem #7C3840;
  color: #20435D;
  font-family: "Futura PT", sans-serif;
  font-size: 175%;
  font-weight: 300;
  height: 4rem;
  margin: 6% auto;
  width: 13rem;
}

/*a.view {
  background-color: #E57A5B;
  border: none;
  border-radius: .25rem;
  box-shadow: .1rem .1rem .1rem .1rem #7C3840;
  color: #20435D;
  font-family: "Futura PT", sans-serif;
  font-size: 175%;
  font-weight: 300;
  height: 4rem;
  margin: 6% auto;
  width: 13rem;
}*/

.header {
  background-color: #20435D;
  background-position: center;
  background-size: cover;
  /*grid-area: header;*/
  overflow: hidden;
  width: 100%;
}

.my-intro {
  background-color: #9D9FB3;
}

.brainstorm {
  padding-top: 200%;
}

.moodboard {
  padding-top: 2%;
}

.pref-test {
  padding-top: 3%;
}

.prototype {
  padding-top: 60%;
}

.foot {
  background-color: #E8C4C1;
  /*grid-area: foot;*/
  padding: 0 0 22% 0;
}

.footer-icon {
  float: left;
  list-style: none;
  margin: 6% 2% 0% 2%;
  width: 9%;
}

.footer-logo-1 {
  float: right;
  list-style: none;
  margin: 2% 5% 2% 2%;
}

.footer-logo-2 {
  float: right;
  list-style: none;
  margin: 11% 0 0 0;
}

/*.project-2 {
  background-color: #e0ccce;
  /*grid-area: project-2;*/
}

/*.project-3 {
  background-color: #e0ccce;
  /*grid-area: project-3;*/
}

.digs-home-page/*,.purple*/ {
  width: 100%;
}

.role {
  float: left;
  margin: 0% 7% 0% 12%;
  overflow: auto;
  width: 35%;
}

.tools {
  margin: 5% 5% 15% 5%;
  overflow: auto;
  width: 35%;
}


/* IMAGES */

img {
  border-radius: .25rem;
  width: 100%;
}

.image, .flow, .guide, .hifi-proto, .final  {
  width: 100%;
}

img.kglogo {
  width: 100%;
}


/* Project Images */
img.board2 {
  border-radius: .25rem;
  margin: -56% 0% 0% 8%;
  position: absolute;
  width: 75%;
}

img.competitor {
  border-radius: .25rem;
  margin: 1% 43%;
  width: 15%;
}

img.brain1, .brain2, .brain3 {
  position: absolute;
  width: 60%;
}

img.brain1 {
  margin: -192% 0 0 0;
}

img.brain2 {
  margin: -136% 0 0 29%;
}

img.brain3 {
  margin: -73% 0 0 -2%;
}

img.digs-home-page, .purple, .final, .flow, .guide, .hifi-proto, .wireframe {
  border-radius: .25rem;
  width: 100%;
}

img.hi-fi-1 {
  border-radius: .25rem;
  margin: 0 2%;
  width: 60%;
}

img.hi-fi-2 {
  border-radius: .25rem;
  margin: 0 2%;
  width: 30%;
}

.icon {
  margin: 3% 1%;
  width: 10%;
}

.logo {
  border-radius: .25rem;
  margin: 1% 25%;
  width: 50%;
}

.image {
  margin: 1%;
  width: 30%;
}


/* TEXT STYLES */

a.navbar {
  color: #E8C4C1;
  font-family: "Quicksand", sans-serif;
  text-decoration: none;
}

a.current {
  color: white;
}

a.current:hover {
  color: #C0D5C9;
}

h3 {
  color: #20435D;
  font-family: "Quicksand",sans-serif;
  font-weight: 500;
  font-size: 1.3rem;
  line-height: 1.3rem;
  /*margin-top: .5rem;*/
}

h4 {
  color: #20435D;
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 1.7rem;
  margin: 2% 20%;
  padding: 0 5%;
  text-align: center;
  text-decoration: underline;
}

h5 {
  color: #20435D;
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
  font-size: 150%;
  line-height: 120%;
  margin: 2% 0%;
}

li {
  color: #20435D;
  font-family: "Futura PT", sans-serif;
  font-size: 140%;
  line-height: 130%;
  margin: 0 0% 0 5%;
  /*text-decoration: none;*/
}

li.about {
  color: #E8C4C1;
  float: right;
  font-size: 150%;
  list-style: none;
  margin: 18% 1% 1% 1%;
  width: 13%;
}

li.about:hover {
  font-style: italic;
}

li.email, .linkedin, .pinterest {
  float: left;
  padding: 1%;
}

li.kg-logo {
  float: left;
  list-style: none;
  margin: 5% 0% 3% 5%;
  padding: 1% 1% 1% 1%;
  width: 15%;
}

li.k-logo {
  float: right;
  padding: 1%;
}

li.name {
  float: left;
  font-family: "Filson", "Quicksand", Arial, sans-serif;
  font-size: 1.6rem;
  font-weight: 300;
  list-style: none;
  margin: 13% 0 0 0;
  padding: 0 1%;
  width: 15%;
}

li.projects, .resume{
  float: right;
  font-size: 150%;
  list-style: none;
  margin: 18% 1% 1% 1%;
  padding-left: 1%;
  width: 18%;
}

li.projects:hover, .resume:hover {
  font-style: italic;
}

p {
  color: #20435D;
  font-family: "Futura PT", sans-serif;
  font-size: 1.4rem;
  line-height: 2rem;
  margin: 5% 0;
  text-align: center;
}

p.sub-head {
  font-size: 160%;
  font-weight: 400;
  text-align: left;
  text-decoration: underline;
}

p.sub-head-c {
  font-size: 160%;
  font-weight: 400;
  text-align: center;
  text-decoration: underline;
}

p.left {
  text-align: left;
}


/* Project.html only */
h5[class*=p] {
  color: #54494b;
  font-family: "Quicksand",sans-serif;
  font-weight: 500;
  font-size: 150%;
  line-height: 130%;
  margin: 1rem 0 3rem 0;
  text-align: left;
}

h5[class="p-persona"] {
  padding-bottom: 444%;
  padding-left: 5%;
}

h5[class="p-proto"] {
  padding-bottom: 54%;
}

h5[class="p-brain"] {
  padding-bottom: 205%;
}

h5[class="p-mood"] {
  padding-bottom: 57%;
}

h5[class="p-pref"] {
  padding-bottom: 285%;
}

li.bullet {
  font-size: 150%;
  font-weight: 300;
  margin: 0 7%;
}

ul {
  list-style: circle;
}

ul.no-bullet {
  list-style: none;
}

.about {
  margin: 5% 0;
}

.bio {
  margin: 10% 0;
}

.brainstorm {
  padding-top: 3%;
}

.brett {
  margin: 149% 10%;
}

.color-palette {
  margin: 5% 0;
  text-align: center;
}

.email-sig {
  background-color: #ffffff;
  margin: 1% auto 5% auto;
  padding: 3%;
  width: 67%;
}

.e-logo {
  width: 25%;
}

.goal {
  margin: 10% 0;
}

.jeff, .jodi, .brett {
  position: absolute;
}

.jeff {
  margin: -447% 10%;
}

.jodi {
  margin: -137% 10%;
}

.logo-style {
  margin: 1%;
  width: 13%;
}

.motive {
  margin: 17% 0 10% 0;
}

.p-jeff, .p-jodi, .p-brett {
  margin: 0 0%;
  text-align: left;
}

p[class*="sg"] {
  font-family: "FreightSans Pro";
  line-height: normal;
  text-align: left;
}

p[class="sg-num"] {
  font-family: "Gemeli Mono";
  font-size: 118%;
  font-weight: 400;
}

.palette {
  margin: 1%;
  width: 17%;
}

.patterns, .logo-misuse {
  margin: 5% auto;
  text-align: center;
}

.patterns, .type, .color-palette, .logo-misuse, .voice {
  background-color: #ffffff;
  border-radius: .25rem;
  padding: 2.5% 5%;
}

.pattern-1 {
  margin: 3% 1%;
  width: 47%;
}

.pattern-2 {
  margin: 3% 2%;
  width: 20%;
}

.personas {
  float: right;
  margin: 0 0% 0 3%;
  width: 45%;
 }

.pref-desk1, .pref-desk2, .pref-desk3 {
  position: absolute;
  width: 70%;
}

.pref-desk1 {
  margin: -264% 0 0 0;
}

.pref-desk2 {
  margin: -212% 0% 0 19%;
}

.pref-desk3 {
  margin: -160% 0 0 0%;
}

.pref-mob1, .pref-mob2, .pref-mob3, .pref-mob4, .pref-mob5 {
  position: absolute;
  width: 30%;
}

.pref-mob1 {
  margin: -104% 0 0 0;
}

.pref-mob2 {
  margin: -54% 0 0 10%;
}

.pref-mob3 {
  margin: -104% 0 0 30.5%;
}

.pref-mob4 {
  margin: -54% 0 0 47%;
}

.pref-mob5 {
  margin: -104% 0 0 61%;
}

.prototype {
  padding-top: 5%;
}

.proto1, .proto2 {
  border-radius: .25rem;
  position: absolute;
  width: 60%;
}

.proto1 {
  margin: -53% 0 0 0%;
}

.proto2 {
  margin: -42% 0% 0% 30%;
}

.sg-h1 {
  font-size: 449%;
  font-weight: 400;
}

.sg-h2 {
  font-size: 200%;
  font-weight: 400;
}

.sg-h3 {
  font-size: 175%;
  font-weight: 400;
}

.sg-h4 {
  font-size: 150%;
  font-weight: 500;
}

.sg-body1 {
  font-size: 150%;
  font-weight: 400;
}

.sg-body2 {
  font-size: 125%;
  font-weight: 400;
}

.sg-body3 {
  font-size: 120%;
  font-weight: 400;
}

.sg-footer {
  font-size: 118%;
  font-weight: 300;
}

.type {
  margin: 5% 0;
}

.type-guide {
  background-color: #ffffff;
  margin-top: 5%;
  padding: 2.5% 5% 2.5% 5%;
}

.user-goals {
  padding: 4% 0% 419% 0;
}

.voice {
  margin: 5% auto;
  padding: 2% 5%;
  text-align: center;
  width: 36%;
}

.wireframe {
  width: 75%;
  margin: 0 12.5%;
}


/* Bio.html only */
h5.bio {
  color: #54494b;
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
  font-size: 175%;
  line-height: 120%;
  margin: 2% 0%;
  text-align: center;
}


/*
ul.sub-title {
  color: #391f2a;
  font-family: "Quicksand",sans-serif;
  font-weight: 500;
  font-size: 150%;
  line-height: 130%;
  margin: 1rem 0;
}*/

.who, .what, .when, .where, .why, .how, .would {
  background-color: #D5B966;
}


@media screen and (min-width: 768px) {
  button, .view-button-home {
    font-size: 150%;
    margin: 6% 43%;
  }

  .header {
    background-color: #20435D;
    margin: 0 auto;
    width: 100%;
  }

  .who, .what, .when, .where, .why, .how, .would {
    background-color: #E8C4C1;
  }

  header {
    margin: 1%;
    padding: 1% 2% 1% 2%;
    width: 11%;
  }

  h3 {
    font-size: 200%;
    font-weight: 500;
  }

  h3.intro {
    line-height: 160%;
  }

  h4 {
    font-size: 200%;
  }

  h5 {
    font-size: 190%;
  }

  h5.project {
    font-size: 180%;
    text-align: left;
  }

  h5[class*="p"] {
    font-size: 200%;
  }

  h5[class="p-persona"] {
    padding-bottom: 350%;
  }

  h5[class="p-proto"] {
    padding-bottom: 81%;
  }

  img.board2 {
    margin: -54% 0% 0% 8%;
  }

  img.flow {
    padding-bottom: 2%;
  }

  li {
    font-size: 150%;
    font-weight: 300;
  }

  li.about {
    font-size: 200%;
    font-weight: 500;
    margin: 9% 0% 1% 0%;
    width: 9%;
  }

  li.bullet {
    font-size: 160%;
    margin: 0 3%;
  }

  li.hero {
    float: left;
    margin: 2.25% 0;
    padding: 0%;
    width: 8%;
  }

  li.kg-logo {
    float: left;
    margin: 0% 1% 1% 3%;
    padding: 1% 1% 1% 1%;
    width: 10%;
  }

  li.name {
    font-size: 260%;
    font-weight: 500;
    line-height: 97%;
    margin: 4% 0 0 0;
    padding: 1% 0 0 0;
  }

  li.projects, .resume {
    font-size: 200%;
    font-weight: 500;
    margin: 9% 2% 1% 1%;
    width: 11%;
  }

  p {
    font-size: 160%;
    line-height: 150%;
    margin: 0%;
  }

  p.sub-head {
    font-size: 175%;
    margin: 3% 0;
  }

  .e-logo {
    margin: 3% 0%;
    width: 35%;
  }

  .email-sig {
    float: left;
    margin: 0 16%;
    overflow: auto;
    width: 27%;
  }

  .foot {
    padding: 0 0 11% 0;
  }

  .footer-icon {
    margin: 3% 2% 0% 2%;
    width: 4%;
  }

  .footer-logo-2 {
    margin: 5% 0 0 0;
  }

  .jeff {
    margin: -354% 10%;
  }

  .jodi {
    margin: -236% 10%;
  }

  .brett {
    margin: -123% 10%;
  }

  .logo {
    margin: 1% 30%;
    width: 40%;
  }

  .moodboard, .prototype {
    padding-top: 2%;
  }

  .motive {
    margin: 5% 0 5% 0;
  }

  .my-intro {
    background-color: #D5B966;
  }

  .e-logo {
    margin: 3% 1%;
    width: 21%;
  }

  .personas {
    width: 35%;
  }

  .pref-mob2 {
    margin: -55% 0 0 10%;
  }

  .pref-mob4 {
    margin: -55% 0 0 47%;
  }

  .proto1 {
    margin: -76% 0 0 0%;
  }

  .proto2 {
    margin: -37% 0% 0% 30%;
  }

  li.li-prob {
    float: left;
    margin: 0% 7% 0% 12%;
    overflow: auto;
    width: 35%;
  }

  li.li-solu {
    margin: 0% 7% 0% 12%;
    overflow: auto;
    width: 35%;
  }

  .role {
    font-size: 125%;
    line-height: 150%;
    margin: 5% 10%;
  }

  .tools {
    font-size: 125%;
    line-height: 150%;
  }

  .user-goals {
    padding: 4% 0 0 0;
  }

  .voice {
    margin: 5% 5% 15% 5%;
    overflow: auto;
    width: 21%;
  }
}

@media screen and (min-width: 1025px) {
  .header {
    background-color: #20435D;
    margin: 0 auto;
    width: 100%;
  }

  header {
    margin: 1%;
    padding: 1% 1% 1% 1%;
    width: 8%;
  }

  .who, .what, .when, .where, .why, .how, .would {
    background-color: #C0D5C9;
  }


  h3.intro {
    font-size: 235%;
    font-weight: 500;
    line-height: 130%;
  }

  h4 {
    font-size: 250%;
  }

  h5 {
    text-align: left;
  }

  li {
    font-size: 170%;
    font-weight: 200;
    line-height: 130%;
  }

  li.about {
    font-size: 200%;
    font-weight: 500;
    margin: 8% 2% 1% 1%;
  }

  li.bullet {
    font-size: 175%;
  }

  li.kg-logo {
    float: left;
    margin: 1% 0% 1% 5%;
    padding: 1% 1% 1% 1%;
    width: 8%;
  }

  li.hero {
    float: left;
    margin: 2.25% 0;
    padding: 0%;
    width: 8%;
  }

  li.home {

  }

  li.name {
    font-size: 300%;
    font-weight: 500;
    line-height: 97%;
    margin: 1.25% 0 0 0;
    padding: 3.75% 0% 0 0;
  }

  li.projects, .resume {
    font-size: 200%;
    font-weight: 500;
    margin: 8% 2% 1% 1%;
    width: 12%;
  }

  p {
    font-size: 180%;
  }

  p.sub-head {
    font-size: 180%;
  }

  ul.sub-title {
    font-size: 190%;
  }

  .brainstorm {
    padding-top: 175%;
  }

  .foot {
    padding: 0 0 11% 0;
  }

  .footer-icon {
    margin: 4% 0% 0% 2%;
    width: 3%;
  }

  .footer-logo-2 {
    margin: 4.55% 0 0 0;
  }

  img.brain3 {
    margin: -73% 0 0 -2%;
  }

  .moodboard, .prototype {
    padding-top: 50%;
  }

  .my-intro {
    background-color: #E57A5B;
  }

  .pref-test {
    padding-top: 200%;
  }

  .pref-mob2 {
    margin: -55% 0 0 10%;
  }

  .pref-mob4 {
    margin: -55% 0 0 47%;
  }

  .tools {
    margin: 5% 5% 0% 5%;
  }
