* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  background-color: #FFFFFF;
}

/*.container {
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: 1fr 10fr 1fr;
  grid-auto-rows: minmax(5rem, auto);
  grid-template-areas:
  "header    header     header"
  "intro     intro      intro"
  ".         digs-home  ."
  ".         project-2  ."
  ".         project-3  ."
  "foot      foot       foot";
}

/* Layout */

nav {
  background-color: #caadb4;
}

section {
  background-color: #e0ccce;
  border-radius: .25rem;
  margin: 5%;
  padding: 5%;
  position: relative;
}

button {
  background-color: #976774;
  border: none;
  border-radius: .25rem;
  box-shadow: 1px 1px 1px 1px #caadb4;
  color: #e0ccce;
  font-family: "Futura PT", sans-serif;
  font-size: 1.3rem;
  font-weight: 100;
  margin: 2% 0;
}

.foot {
  background-image: url("../images/Hero.jpg");
  /*grid-area: foot;*/
  padding: 0 0 22% 0;
}

.footer-icon {
  float: left;
  list-style: none;
  margin: 6% 2% 0% 2%;
  width: 9%;
}

.footer-logo-1 {
  float: right;
  list-style: none;
  margin: 2% 5% 2% 2%;
}

.footer-logo-2 {
  float: right;
  list-style: none;
  margin: 11% 0 0 0;
}

.header {
  background-image: url("../images/Hero.jpg");
  background-position: center;
  background-size: cover;
  /*grid-area: header;*/
  overflow: hidden;
  width: 100%;
}

.project-2 {
  background-color: #e0ccce;
  /*grid-area: project-2;*/
}

.project-3 {
  background-color: #e0ccce;
  /*grid-area: project-3;*/
}

.purple, .digs-home-page {
  /*position: absolute;
  margin-top: -5rem;*/
  width: 100%;
}

.role {
  float: left;
  margin: 0% 7% 0% 12%;
  overflow: auto;
  width: 35%;
}

.tools {
  margin: 5% 5% 0 5%;
  overflow: auto;
  width: 35%;
}

/* IMAGES */

img {
  border-radius: .25rem;
}

.image  {
  width: 100%;
}

img.kglogo {
  width: 100%;
}

/* Project Images */
img.board, .proto {
  border-radius: .25rem;
  margin: 1%;
  width: 47%;
}

img.brain, .competitor, .logo, .personas {
  border-radius: .25rem;
  margin: 1%;
  width: 30%;
}

img.digs-home-page, .desk-pref, .purple, .final, .flow, .guide, .hifi-proto, .pref, .wireframe {
  border-radius: .25rem;
  width: 100%;
}

img.hi-fi-1 {
  border-radius: .25rem;
  margin: 0 2%;
  width: 60%;
}

img.hi-fi-2 {
  border-radius: .25rem;
  margin: 0 2%;
  width: 30%;
}


/* TEXT STYLES */

a {
  color: #391f2a;
  font-family: "Quicksand", sans-serif;
  text-decoration: none;
}

h3 {
  color: #391f2a;
  font-family: "Quicksand",sans-serif;
  font-weight: 500;
  font-size: 1.3rem;
  line-height: 1.3rem;
  margin-top: .5rem;
}

h4 {
  color: #391f2a;
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 1.7rem;
  margin: 2% 20%;
  padding: 0 5%;
  text-align: center;
  text-decoration: underline;
}

li {
  color: #391f2a;
  font-family: "Futura PT", sans-serif;
  font-size: 140%;
  line-height: 130%;
  text-decoration: none;
}

li.about {
  float: right;
  font-size: 150%;
  list-style: none;
  margin: 18% 2% 1% 1%;
  width: 13%;
}

li.email, .linkedin, .pinterest {
  float: left;
  padding: 1%;
}

li.kg-logo {
  float: left;
  list-style: none;
  margin: 5% 0% 3% 5%;
  padding: 1% 1% 1% 1%;
  width: 15%;
}

li.k-logo {
  float: right;
  padding: 1%;
}

li.name {
  float: left;
  font-family: "Filson", "Quicksand", Arial, sans-serif;
  font-size: 1.6rem;
  font-weight: 500;
  list-style: none;
  margin: 12% 0 0 0;
  padding: 0 1%;
  width: 22%;
}

li.projects, .resume {
  float: right;
  font-size: 150%;
  list-style: none;
  margin: 18% 1% 1% 1%;
  width: 18%;
}

p {
  color: #391f2a;
  font-family: "Futura PT", sans-serif;
  font-size: 1.4rem;
  line-height: 2rem;
  margin: 5% 0;
  text-align: center;
}

p.sub-head {
  font-size: 160%;
  font-weight: 400;
  text-align: left;
  text-decoration: underline;
}

p.left {
  text-align: left;
}


/* Project.html only */
li.bullet {
  font-size: 150%;
  font-weight: 300;
}


/* Bio.html only */
h5 {
  color: #391f2a;
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
  font-size: 150%;
  line-height: 120%;
  margin: 2% 0%;
  text-align: center;
}

h5.project {
  color: #391f2a;
  font-family: "Quicksand",sans-serif;
  font-weight: 500;
  font-size: 150%;
  line-height: 130%;
  margin: 1rem 0;
  text-align: left;
}
/*
ul.sub-title {
  color: #391f2a;
  font-family: "Quicksand",sans-serif;
  font-weight: 500;
  font-size: 150%;
  line-height: 130%;
  margin: 1rem 0;
}*/


@media screen and (min-width: 768px) {
  button {
    font-size: 165%;
  }

  .header {
    background-color: #E0CCCE;
    margin: 0 auto;
    width: 100%;
  }

  header {
    margin: 1%;
    padding: 1% 2% 1% 2%;
    width: 11%;
  }

  h3 {
    font-size: 1.9rem;
    font-weight: 400;
  }

  h3.intro {
    line-height: 2.2rem;
  }

  h4 {
    font-size: 200%;
  }

  h5 {
    font-size: 190%;
  }

  h5.project {
    font-size: 180%;
    text-align: left;
  }

  li {
    font-size: 130%;
    font-weight: 200;
  }

  li.about {
    font-size: 200%;
    font-weight: 500;
    margin: 17% 3% 1% 0%;
    width: 9%;
  }

  li.bullet {
    font-size: 160%;
  }

  li.hero {
    float: left;
    margin: 2.25% 0;
    padding: 0%;
    width: 8%;
  }

  li.kg-logo {
    float: left;
    margin: 4% 1% 1% 3%;
    padding: 1% 1% 1% 1%;
    width: 13%;
  }

  li.name {
    font-size: 260%;
    font-weight: 500;
    line-height: 97%;
    padding: 1% 0 0 0;
  }

  li.projects, .resume {
    font-size: 200%;
    font-weight: 500;
    margin: 17% 2% 1% 1%;
    width: 11%;
  }

  p {
    font-size: 160%;
    line-height: 150%;
    margin: 0%;
  }

  p.sub-head {
    font-size: 175%;
  }

  /*ul.sub-title {
    font-size: 180%;
  }*/

  .foot {
    padding: 0 0 14% 0;
  }

  .footer-icon {
    margin: 4% 2% 0% 2%;
    width: 4%;
  }

  .footer-logo-2 {
    margin: 6% 0 0 0;
  }

  .role {
    font-size: 125%;
    line-height: 150%;
    margin: 5% 7% 0% 23%;
  }

  .tools {
    font-size: 125%;
    line-height: 150%;
  }
}

@media screen and (min-width: 1025px) {
  .header {
    background-color: #E0CCCE;
    margin: 0 auto;
    width: 100%;
  }

  header {
    margin: 1%;
    padding: 1% 1% 1% 1%;
    width: 8%;
  }

  h3.intro {
    font-size: 215%;
    font-weight: 400;
    line-height: 130%;
  }

  h4 {
    font-size: 250%;
  }

  h5 {
    text-align: left;
  }

  li {
    font-size: 170%;
    font-weight: 200;
    line-height: 130%;
  }

  li.about{
    font-size: 200%;
    font-weight: 500;
    margin: 12% 2% 1% 1%;
  }

  li.bullet {
    font-size: 175%;
  }

  li.kg-logo {
    float: left;
    margin: 1% 0% 1% 5%;
    padding: 1% 1% 1% 1%;
    width: 11%;
  }

  li.hero {
    float: left;
    margin: 2.25% 0;
    padding: 0%;
    width: 8%;
  }

  li.name {
    font-size: 350%;
    font-weight: 500;
    line-height: 97%;
    margin: 4% 0 0 0;
    padding: 3.75% 0% 0 0;
  }

  li.projects, .resume {
    font-size: 200%;
    font-weight: 500;
    margin: 12% 2% 1% 1%;
    width: 11%;
  }

  p {
    font-size: 180%;
  }

  p.sub-head {
    font-size: 180%;
  }

  ul.sub-title {
    font-size: 190%;
  }

  .foot {
    padding: 0 0 11% 0;
  }

  .footer-icon {
    margin: 4% 0% 0% 2%;
    width: 3%;
  }

  .footer-logo-2 {
    margin: 4.55% 0 0 0;
  }

  .tools {
    margin: 5% 5% 0% 5%;
  }
